.summary-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height:200px;
    background-color: rgb(70, 70, 70);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;

    h2 {
        margin: 0;
    }
}
