.header {
    background-color: #bb4343;
    color: white;
    padding: 0 20px;
    margin: 0;
    display: flex;
}

.header h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 28px;
}

.cart {
    margin: 10px;
    margin-left: auto;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 25px;
    font-size: 14px;
    color: white;
    border: none;
}

.cart svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.cartCount {
    font-weight: bold;
    margin-left: 10px;
    padding: 5px 15px;
    background-color: #bb4343;
    border-radius: 15px;
}

.header-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}