.header {
    background-color: #bb4343;
    color: white;
    padding: 0 20px;
    margin: 0;
    display: flex;
    width: 100%;
}

.header h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 28px;
}